<div class="follow">
  <div class="col-md-2" data-toggle="tooltip" data-placement="bottom" title=<%= t "follow.following" %>>
    <span class="fa fa-user-plus ml-05" >
      (<%= user.following.size %>)
    </span>
  </div>
  <div class="col-md-2" data-toggle="tooltip" data-placement="bottom" title=<%= t "follow.follower" %>>
    <span class="fa fa-user-plus ml-05">
      (<%= user.followers.size %>)
    </span>
  </div>
  <div class="col-md-2" data-toggle="tooltip"
    data-placement="bottom" title=<%= t "follow.post" %>>
    <span class="fa fa-pencil ml-05">
      (<%= user.posts.size %>)
    </span>
  </div>

  <div class="col-md-3">
    <% if current_user != user && current_user %>
      <% if current_user.following? user %>
        <%= link_to t("follow.unfollow"), unfollow_path(user), method: :delete,
          class: "btn btn-default btn-follow" %>
      <% else %>
        <%= link_to t("follow.follow"), follow_path(user), method: :post,
          class: "btn btn-default btn-follow" %>
      <% end %>
    <% end %>
  </div>

  <% if current_user == @user %>
    <%= link_to new_post_path do %>
      <span><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></span>
    <% end %>
  <% end %>
</div>

