<%= render "shared/profile" %>
<div class="main">
  <div class="col-md-12">
    <% @user.posts.each do |post| %>
      <div class="col-md-4 user-post">
        <div class="user-post-sub">
          <div class="image-post-show">
            <%= image_tag post.image.url, size: Settings.image_post.post_size %>
          </div>
          <div class="title-post truncate">
            <%= post.title %>
            <hr>
          </div>
          <div class="content-post-user truncate">
            <%= raw post.content %>
          </div>
          <div>
            <%= link_to t("index.btn-read-more"), post_path(post),
              class: "btn btn-sm btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="user-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "show.user" %></h4>
      </div>
      <div class="modal-header">
        <%= link_to t("show.update_user"), edit_user_registration_path %>
      </div>
      <div class="modal-body">
        <%= link_to t("show.log_out"), destroy_user_session_path, method: :delete %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "show.modal_canel" %></button>
      </div>
    </div>
  </div>
</div>

<%= render partial: "change_avatar", locals: {user: @user} %>
