<div class="main">
  <div class="header-user">
    <%= image_tag @user.avatar.big_image.url, class: "avatar"%>
    <% if current_user == @user %>
      <%= content_tag :div, "", class: "upload-images setting-user",
        data: {toggle: "modal", target: "#upload-images-user"} %>
    <% end %>
    <h3><%= @user.username %></h3>
  </div>
  <br>
  <div class="col-md-offset-2 user-details">
    <%= render partial: "follow_form", locals: {user: @user} %>
  </div>
<br>
<br>
  <div class="col-md-12">
    <div class="col-md-4 user-post">
      <div class="user-post-sub">
        <div class="image-post-show">
          <%= image_tag "post.jpg", size: "150x150" %>
        </div>
        <div class="title-post">
          <hr>
        </div>
        <div class="content-post-user truncate"></div>
        <div>
          <button class="btn btn-sm btn-default"><%= t "index.btn-read-more" %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "show.user" %></h4>
      </div>
      <div class="modal-header">
        <%= link_to t("show.update_user"), edit_user_registration_path %>
      </div>
      <div class="modal-body">
        <%= link_to t("show.log_out"), destroy_user_session_path, method: :delete %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "show.modal_canel" %></button>
      </div>
    </div>
  </div>
</div>

<%= render partial: "change_avatar", locals: {user: @user} %>
