<div class="header"></div>
<div class="menuwrap">
  <ul class="menu-header">
    <li>
      <%= link_to t("index.home"), root_path %>
    </li>
    <li><a href="#"><%= t "index.help" %></a></li>
    <li><a href="#"><%= t "index.about" %></a></li>
    <li><input type="text"></li>
    <li><%= link_to "link text...", user_registration_path, method: :delete %></li>
    <li style="float: right;">
      <%= link_to  t("devise.sessions"), new_user_registration_path %>
    </li>
    <li style="float: right;"><a href="#"><%= t "index.user" %></a></li>
  </ul>
</div>
