<%= render "shared/side" %>
<div class="main">
  <% @posts.each do |post| %>
    <div class="box">
      <%= image_tag post.image.big_image.url, class: "image-post" %>
      <div class="post-content">
        <h1 class="title-post"><%= post.title %></h1>
        <span class="hr"></span>
        <div class="content-short">
          <span><%= raw post.content %></span>
        </div>
        <% if post.tags.present? %>
          <% post.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_path(tag) %>
          <% end %>
        <% end %>
        <div>
          <%= link_to t("index.btn-read-more"), post_path(post),
            class: "btn btn-sm btn-default" %>
        </div>
        <footer class="post-meta">
          <ul>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
                <%= post.created_at.strftime"#{t("posts.show.createted")} %m/%d/%Y" %>
            </li>
          </ul>
      </footer>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>
