<%= render "shared/side" %>
<div class="main">
  <% @posts.each do |post| %>
    <div class="box">
      <%= image_tag post.image.big_image.url, class: "image-post"%>
      <div class="post-content">
        <h1 class="title-post"><%= post.title %></h1>
        <span class="hr"></span>
        <div class="content-short">
          <span><%= raw(post.content) %></span>
        </div>
        <% unless post.tags.nil? %>
          <% post.tags.each do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        <% end %>
        <div>
          <button class="btn btn-sm btn-default">
            <%= t "index.btn-read-more" %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>
