<div class="main">
  <div class="register">
    <div class="col-md-8 col-md-offset-2">
      <h2><%= t "devise.links.log_in" %></h2>
      <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>

        <%= devise_error_messages! %>

        <%= f.label :Email %>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <%= f.email_field :login, class: "form-control", autofocus: true %>
        </div>

        <%= f.label :Password %>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <%= f.password_field :password, class: "form-control", autocomplete: "off"%>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox col-md-offset-1">
            <%= f.check_box :remember_me %>
            <%= t "devise.remember_me"%>
          </div>
        <% end -%>

        <div class="actions checkbox col-md-offset-4">
          <%= f.submit t("devise.btn_login"), class: "btn btn-default" %>
        </div>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
