<%= render "shared/side" %>
<div class="main">
  <div class="page">
    <article class="post">
      <h2 itemprop="headline"><%= @post.title %></h2>
      <% if @post.image.present? %>
        <%= image_tag @post.image.url,
          size: Settings.image_post.size %>
      <% end %>
      <div class="abstract" itemprop="description">
        <p><%= raw @post.content %></p>
      </div>
      <footer class="post-meta">
        <ul>
          <li>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
              <%= @post.created_at.strftime"#{t(".createted")} %m/%d/%Y" %>
          </li>
          <li>
            <i class="fa fa-user" aria-hidden="true"></i>
            <%= link_to @post.user.username, user_path(@post.user) %>
          </li>
          <li>
            <a href="#comment-post" class="btn btn-default" data-toggle="collapse">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </footer>
    </article>
  </div>
  <%= render "comments/comment" %>
</div>
