<p><%= t "devise.mailer.hello" %> <%= @resource.email %>!</p>

<p><%= t "devise.mailer.p_request" %></p>

<p>
  <%= link_to t("devise.mailer.title_password"), edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t "devise.mailer.p_not_request" %></p>
<p><%= t "devise.mailer.p_password" %></p>
