<p><%= t "devise.mailer.hello" %><%= @resource.email %>!</p>

<p><%= t "devise.mailer" %></p>

<p><%= t "devise.mailer.p_click" %></p>

<p><%= link_to t("devise.mailer.p_click"), unlock_url(@resource, unlock_token: @token) %></p>
