<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="arlina">
      <%= render "shared/header" %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        </div>
      <% end %>
      <div class="content">
        <%= yield %>
        <%= render "shared/side" %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>

